@import 'toggleswitch.css';

body { margin:0px; padding:0px; }
div { margin: 0px; padding:0px; }
#data {
  height:100%;
  width:100%;
  display: inline-flex;
}
#data > #sidebar {
  min-width: 200px;
  background-color: #dadada;
  color: black;
  font-size: 14px;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid;
  text-align: center;
  overflow-x: hidden;
  padding-top: 25px;
  padding-left: 5px;
  margin-bottom: 170px;
}
#data > #sidebar:hover { cursor:pointer; }
#data > #filter {
  min-width: 200px;
  height: 170px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #dadada;
  border-right: 1px darkgray solid;
  padding-left: 5px;
}
#data > #browser { width:-webkit-fill-available; height: -webkit-fill-available; word-break: break-all; white-space: normal; background-color: #f7f7f7; padding-top: 25px; position: relative; overflow-x: hidden; }
#data > #rawBtn { color:white; position:absolute; top:0; right:0; width:65px; height:25px; z-index: 10; }
#browser-table {  }
#browser-table > .table-row { display: block; min-height: 20px; }
#browser-table > #mainTableRow { font-weight: bold; border-bottom: 1px darkgray solid; background-color: lightgray; }
.table-row > .type { display:inline-block; float:left; min-width:100px; margin-left: 5px; margin-right: -5px; }
.table-row > .log { display:inline-block; float:left; min-width:300px; width: 69%; white-space: nowrap; overflow: hidden; }
.table-row > .date { display:inline-block; float:right; min-width:150px; width:20%; }
.menubar {
  width:100%;
  height:25px;
  background: #1c53ab;
  border-bottom: 1px #09306d solid;
  position: absolute;
  z-index: 5;
}
.menu-item {
  color: white;
  font-size: 12px;
  font-family:sans-serif;
  line-height: 25px;
  padding-left: 5px;
}
hr {
  width: 85%;
  background-color:#E4E4E4;
  border-color:#E4E4E4;
  color:#E4E4E4;
}
#context-menu {
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;
  background:#F9F9F9;
  border-radius:4px;
}
li {
  padding: 3px;
}
#items {
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;
}
#items > li:hover {
  color: white;
  background:#284570;
  border-radius:2px;
  cursor:pointer;
}
