@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro&display=swap');
@import 'toggleswitch.css';

body { margin:0px; padding:0px; font-family: 'Source Sans Pro'; font-size: 14px; }
div { margin: 0px; padding:0px; }
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  box-sizing: border-box;
}
#sidebar {
  background-color: #dadada;
  color: black;
  font-size: 12px;
  border-right: 1px darkgray solid;
  text-align: center;
  padding-top: 25px;
  padding-left: 5px;
  display: grid;
  grid-template-rows: auto 175px;
  box-sizing: border-box;
  overflow: hidden;
}
#sidebar > #logs {
  width: 100%;
  background-color: #dadada;
  color: black;
  font-size: 12px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
#sidebar > #logs:hover { cursor:pointer; }
#sidebar > #filter {
  width: 100%;
  height: 170px;
  padding-top: 10px;
  padding-left: 5px;
  text-align: left;
}
#browser {
  word-break: break-all;
  white-space: normal;
  background-color: #f7f7f7;
  padding-top: 25px;
  overflow-y: scroll;
}
#sidebar > #rawBtn { color:white; position:absolute; top:0; right:0; width:65px; height:25px; z-index: 10; }
#browser-table {  }
#browser-table > .table-row { display: block; min-height: 20px; }
#browser-table > #mainTableRow { font-weight: bold; border-bottom: 1px darkgray solid; background-color: lightgray; }
.table-row > .type { display:inline-block; float:left; min-width:100px; margin-left: 5px; margin-right: -5px; }
.table-row > .log { display:inline-block; float:left; min-width:300px; width: 69%; white-space: nowrap; overflow: hidden; }
.table-row > .date { display:inline-block; float:right; min-width:150px; width:20%; }
.menubar {
  display: inline-block;
  width:100%;
  height:25px;
  background: #1c53ab;
  border-bottom: 1px #09306d solid;
  position: absolute;
  z-index: 5;
}
.menu-item {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family:sans-serif;
  line-height: 25px;
  padding-left: 5px;
}
#status {
  float: right;
}
#status > div {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
